#root {
  font-family: 'Slabo 27px', serif;
}

.news-detail {
  position: fixed;
  margin-top: 30px;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.news-detail-form {
  padding-bottom: 20px;
}

.news-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#news-list-li {
  width: 300px;
  height: 220px;
  margin: 10px;
  padding: 10px 15px 5px 15px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#news-list-li:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.article-img {
  height: 200px;
  width: 100%;
  margin-top: 30px;
}

.article-list-img {
  padding-top: 10px;
  height: 100px;
  width: 200px;
}

.collapsible-header {
  justify-content: center;
}

.article-save-input {
  display: none;
}

.collection-item {
  border-bottom: 1px solid #E0E0E0 !important;
}


.search-bar {
  margin-top: 5px;
}

.search-btn {
  margin-top: 10px;
  margin-left: 45px;
}

.character-counter {
  display: none;
}

.save-btn {
  margin-top: 10px;
}

.delete-btn {
  margin: 10px 0;
}

#icon_prefix {
  color: #607d8b;
}

#icon_prefix:focus + label {
  color: #607d8b;
}

#icon_prefix:focus {
  border-bottom: 1px solid ;
  box-shadow: #607d8b;
}

.input-field .prefix.active {
  color: #607d8b !important;
}


@media (max-width: 480px) {
  .article-img {
    height: 200px;
    width: 100%;
  }
}
