#root {
  font-family: 'Slabo 27px', serif;
}

div.row {
  margin: 0;
}

.search-bar {
  margin-top: 5px;
  margin-bottom: 10px;
}

.search-btn {
  margin-top: 20px;
}

.news-detail {
  position: fixed;
  margin-top: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 15px !important;
}

.article-detail {
  margin-top: 30px;
  padding: 15px !important;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.news-detail-form {
  padding-bottom: 20px;
}

.news-detail-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
}

.news-list-li {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-top: solid 2px rgb(233, 233, 233);
  cursor: pointer;
}

.news-list-li:hover {
  opacity: .7;
}

.news-list-title {
  font-weight: bold;
}

.article-img {
  height: 200px;
  width: 100%;
}

.article-list-img {
  max-width: 100%;
  height: auto;
}

.collapsible-header {
  justify-content: center;
}

.article-save-input {
  display: none;
}

.collection-item {
  border-bottom: 1px solid #E0E0E0 !important;
}

.character-counter {
  display: none;
}

#bookmark-btn {
  margin-left: 20px;
}

.delete-btn {
  margin: 10px 0;
}

#icon_prefix {
  color: #607d8b;
}

#icon_prefix:focus + label {
  color: #607d8b;
}

#icon_prefix:focus {
  border-bottom: 1px solid ;
  box-shadow: #607d8b;
}

.input-field .prefix.active {
  color: #607d8b !important;
}

#modal1 {
  max-width: 600px;
  padding: 20px;
}

#modal1 h4 {
  margin-top: 5px;
}

#modal-close-btn {
  margin: -20px -20px 20px 0;
}

.modal .modal-content {
  padding: 0px !important;
}

.modal .modal-footer {
  padding: 0px !important;
}

@media (max-width: 480px) {
  .article-img {
    height: 100px;
    width: 100%;
  }

  .article-list-img {
    height: 100px;
    width: 100px;
  }

  .news-detail > p:nth-child(4) {
    display: none;
  }

  .news-detail > p:nth-child(2) {
    font-size: 150%;
  }

  .news-detail > p {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 120%;
  }

  .news-detail > div > form > button {
    padding: 0 5px 0 5px;
  }

  .news-detail > div > form > button > i {
    display: none;
  }

  .news-detail-btns i {
    display: none;
  }

  .news-detail > a > button {
    padding: 0 5px 0 5px;
  }

  .news-detail > a > button > i {
    display: none;
  }

  nav .brand-logo.center {
    font-size: 20px;
  }

  .collection-icon {
    margin-top: 25px;
  }

  .news-list-title {
    font-size: 15px;
  }

  #bookmark-btn {
    margin: 5px 0 0 0;
  }

  .article-description {
    display: none;
  }
  
}
