.article-img {
  height: 400px;
  width: 100%;
}

.article-list-img {
  height: 100px;
  width: 200px;
}

.collapsible-header {
  justify-content: center;
}

@media (max-width: 480px) {
  .article-img {
    height: 200px;
    width: 100%;
  }
}
